.separate-item {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
}

.separate-item img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}
